* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #0d001f;
  --text: #ffe7ff;
  --form-text: #0d001f;
  --hover: #5a245f;
  --form-color: rgb(90, 36, 95, 0.7);
  --alternating-color: #180433;
  --table-lines: #8f618f;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text);
}

#myBooks,th, tr, td {
  border-bottom: 1px solid var(--table-lines);
  border-collapse: collapse;
  align-items: center;
  padding: 5px;
  font-size: 0.9rem;
}

form{
  width: 70%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--form-color) ;
  border-radius: 8px;
}

input {
  padding: 6px 10px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--text);
  margin: 5px;
  background-color: var(--text);
  color: var(--form-text);
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type=date] {
  cursor: text;
}

input:focus {
  border: 3px solid var(--text);
}

select#myrating {
  font-size: 0.9rem;
  padding: 3px 10px;
  font-family: "Open Sans", sans-serif;
  width: 97%;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--text);
  margin: 5px;
  background-color: var(--text);
  color: var(--form-text);
}

button {
  background-color: var(--text);
  color: var(--form-text);
  padding: 6px;
  border: 1px solid var(--text);
  border-radius: 4px;
  cursor: pointer;
  grid-column: span 2;
  margin-top: 10px;
  width: 40%;
  align-self: center;
  justify-self: center;
}

button:hover {
  background-color: var(--hover);
  color: var(--text);
  
}

table {
  margin: 20px auto;
  box-shadow: 0 0 16px var(--hover);
}

table thead .header {
  background-color: var(--form-color);

}

table tr:nth-of-type(even) {
  background-color: var(--alternating-color);
}

.header th {
  padding: 20px;
}

table td {
  text-align: center;
}
